.log-wrap {
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.log-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log-btn {
  width: 15rem;
}

.demo-btn {
  border-radius: 20px;
  border: 3px solid rgb(156, 175, 136);
  color: rgb(156, 175, 136);
  box-shadow: 2px 2px lightgray;
  background-color: white;
  width: 11rem;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 1rem;
  /* box-shadow: 2px 2px gray; */
}

.demo-btn:hover {
  filter: brightness(95%);
}

.on-pinthis {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.on-pinthis > button {
  background-color: transparent;
  border: none;
  margin-left: 4px;
  padding: 0;
}

.on-pinthis > button:hover {
  background-color: transparent;
  border: none;
}

.not-on {
  color: #111;
  opacity: 1;
  margin-right: 0;
}

.reg-btn > button {
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  margin-left: 4px;
  padding: 0;
  cursor: pointer;
  color: rgb(156, 175, 136);
}

.pwicon {
  position: absolute;
  top: 70%;
  right: 0;
  left: 190px;
  transform: translateY(-50%);
  cursor: pointer;
}

/* .pwicon1 {
  position: absolute;
  top: 60%;
  right: 0;
  left: 16rem;
  transform: translateY(-50%);
  cursor: pointer;
} */
