.manage-card-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  width: 100%;
}

.edit-pro {
  margin: 0 2rem;
}

.delpro-wrap > button {
  border-radius: 24px;
  background-color: rgb(156, 175, 136);
  color: white;
  border: none;
  width: 5rem;
  padding: 0.4rem;
  cursor: pointer;
  font-weight: bold;
}

.the-buttons {
  display: flex;
  flex-direction: row;
}

.editpro-wrap > button {
  border-radius: 24px;
  background-color: rgb(156, 175, 136);
  color: white;
  border: none;
  width: 5rem;
  padding: 0.4rem;
  cursor: pointer;
  font-weight: bold;
  margin-right: 0.5rem;
  margin-left: 0.2rem;
}

.man-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.man-create > button {
  border-radius: 24px;
  background-color: rgb(156, 175, 136);
  color: white;
  border: none;
  width: 10rem;
  padding: 0.4rem;
  cursor: pointer;
  font-weight: bold;
  margin: 2rem;
  font-size: 17px;
}

.create-first {
  font-weight: 700;
  font-size: 30px;
  margin-left: 1rem;
}

.manage-wrap > img {
  height: 30rem;
  background-color: white;
  border-radius: 24px !important;
}

.manage-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
