.delpro-wrap > button {
  border-radius: 24px;
  background-color: rgb(156, 175, 136);
  color: white;
  border: none;
  width: 5rem;
  padding: 0.4rem;
  cursor: pointer;
  font-weight: bold;
}

.the-buttons {
  display: flex;
  flex-direction: row;
}

.editpro-wrap > button {
  border-radius: 24px;
  background-color: rgb(156, 175, 136);
  color: white;
  border: none;
  width: 5rem;
  padding: 0.4rem;
  cursor: pointer;
  font-weight: bold;
  margin-right: 0.5rem;
  margin-left: 0.2rem;
}
