.profile-dropdown {
  position: absolute;
  background: white;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 2.3rem;
  right: 15px;
  z-index: 1;
  padding-left: 20px;
  padding-right: 20px;
  height: 8rem;
}

.hidden {
  display: none;
}

.daisy-logo {
  height: 3rem;
  border-radius: 24px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: rgb(156, 175, 136) 2px solid;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  /* width: 100%; */
  height: 70px;
  position: relative;
  margin-bottom: 2rem;
}

.cloud-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cloud-nav > a {
  text-decoration: none;
  color: rgb(156, 175, 136);
  font-size: 30px;
}

.logo {
  font-size: 15px;
}

.nav-search {
  background-color: white;
  padding: 0px 16px;
  margin: 0 8px;
  border-radius: 60px;
  flex-grow: 0.7;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 2px solid rgb(156, 175, 136);
  height: 25px;
  width: 50px;
}

.nav-search:hover {
  background-color: white;
  cursor: pointer;
}

/* .nav-search:focus-within {
  border-color: #75bfff !important;
  outline: none;
} */

.search-input {
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  outline: None;
  border: none;
  resize: none;
  align-self: stretch;
  border: none;
  cursor: pointer;
  box-sizing: content-box;
}

.fas.fa-search {
  color: rgb(156, 175, 136);
}

.search-input:hover {
  background-color: white;
}

.search-input:focus {
  cursor: text;
}

.sign-nav > button {
  background-color: transparent;
  border: none;
  margin-left: 4px;
  color: rgb(156, 175, 136);
  font-size: 15px;
  font-weight: bold;
}

.profile-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.create-pro-b > button {
  background-color: transparent;
  border: none;
  margin-right: 2rem;
  cursor: pointer;
  color: rgb(156, 175, 136);
  font-size: 13px;
  font-weight: bold;
}

#cart-icon {
  color: rgb(156, 175, 136);
  /* margin-left: 2rem; */
}

.after-log {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#user-icon {
  color: rgb(156, 175, 136);
  margin-right: 2rem;
}

.person-btn {
  background-color: transparent;
  border: none;
}

.peace-out {
  background-color: transparent;
  border: none;
  font-size: 15px;
}

.ul-div > li {
  margin: 0.5rem 0;
}

.hello > a {
  text-decoration: none;
  color: black;
}
